/* This makes the backgroumd git to the viewport */
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: monospace;
}

header {
    background-image: url(../images/horses.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: overlay;
    font-size: 1em;
}

.logoAndNav {
    max-width: 90%;
    margin: auto;
}

.logo img {
    width: 9.4em;
    height: auto;
    float: left;
    margin-top: 2em;
}

.mainNavBar {
    float: right;
    margin-top: 4.5em;
}

.mainNavBar a {
    display: inline-block;
    color: rgb(225, 225, 225);
    text-decoration: none;
    padding: .3em 1.3em;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.mainNavBar a:hover {
    border: .1em solid rgb(225, 225, 225);
}

.mainNavBar a.active {
    border: .1em solid rgb(225, 225, 225);
}

/* .homeHero {
    position: absolute;
    width: 75em;
    margin-left: 0;
    margin-top: 0;
} */

.homeHero {
    position: absolute;
    width: 50%;
    margin: 0 auto;
    margin-top: 20em;
    margin-left: 29em;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

section h1 {
    text-transform: uppercase;
    font-size: 4em;
    color: rgb(247, 147, 30);
    text-shadow: 2px 2px rgb(0, 0, 0);
    margin-bottom: .5em;
    font-weight: 900;
}

.homeHeroSpan {
    font-size: 1.8em;
    color: rgb(247, 147, 30);
    text-shadow: 2px 2px rgb(0, 0, 0);
    margin-bottom: 1.5em;
    font-weight: 800;
}

.heroButton {
    color: rgb(225, 225, 225);
    background: none;
    padding: .5em 1.3em;
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    border: .12em solid rgb(225, 225, 225);
}

.heroButton:hover {
    background: rgb(4,112,186);
}